@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom CSS styles here */
.swiper-container {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
}
